body {
  font-family: sans-serif;
  background-color: pink;
}

.text {
  background-color: white;
  padding: 1em;
  border-radius: 10px;
}



@media only screen and (min-width: 992px) {

  .text {
    width: 50%;
    margin: 0 auto;
  }

}

@media only screen and (max-width: 991px) {

  .text {
    width: 100%;
  }

}


#modifier {
  display: none;
}

label {
  text-align: center;
  display: block;
  border: 1px solid deeppink;
  margin: 10px 0;
}

.supression {
  border: 1px grey solid;
  border-radius: 3px;
  padding: 0.3em;
  margin: 0.3em;
}

.ajout {
  margin: 0 25%;
}

.modif {
  display: none;
}

#modifier:checked~.modif {
  display: inline-block;
}

#modifier:checked~ul li .modif {
  display: inline-block;
}

li {
  min-height: 2em;
}
